/* .gradientBorder {
  background: linear-gradient(96deg, #d0a15a 5.18%, #c57200 96.62%);
  padding: 2px;
  border-radius: 16px;
}

.gradientBorder > span {
  background: transparent;
  border-radius: 16px;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
} */

.gradientBorder {
  display: inline-flex;
  border: double 1px transparent;
  border-radius: 16px;

  background-image: linear-gradient(white, white),
    linear-gradient(96deg, #d0a15a 5.18%, #c57200 96.62%);

  background-origin: border-box;
  background-clip: content-box, border-box;
}
.action-button-outline {
  /* 1. Basic properties */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;

  /* 2. The Radius */
  border-radius: 16px;

  /* 3. The Magic: Transparent border + Background Clipping */
  border: 2px solid transparent;
  background-image: linear-gradient(96deg, #d0a15a 5.18%, #c57200 96.62%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  /* 4. Text Color */
  color: #c57200;
}

.module {
  position: relative;
  background: #000;
}
.module::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #c57200;
}

.borderTry {
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 50px; /* this doesn't work */
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}
